// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$body-font-family: 'Lato';
$heading-font-family: 'Lato';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

$material-light: (
  'background': #E5E5E5
);

@import '~vuetify/src/styles/styles.sass';